<menu></menu>
<div class="card" style="width: 18rem;display: block; margin: auto; margin-top: 50px">
  <div class="card-body">
    <h5 class="card-title">Instituciones</h5>
    <form>
          <div class="form-group">
              <label for="exampleFormControlFile1">CSV de instituciones</label>
              <input type="file" class="form-control-file" id="fileInstituciones" (change)="onFileSelect($event)" >
          </div>
      <button type="submit" class="btn btn-primary" (click)="uploadInstituciones()">Crear</button>
    </form>
  </div>
</div>

<br>
<br>

<table class="table" id="tableInstituciones">
  <thead>
    <tr>
      <th scope="col">Codigo Dane</th>
      <th scope="col">Comuna</th>
      <th scope="col">Nombre</th>
      <th scope="col">Especialidad</th>
      <th scope="col">Nivel Educativo</th>
      <th scope="col">Barrio</th>
      <th scope="col">Dirección</th>
      <th scope="col">Telefono</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody *ngFor="let item of institucionesMap">
    <tr>
      <th scope="row">{{item.codigoDane}}</th>
      <td>{{item.comuna}}</td>
      <td>{{item.nombre}}</td>
      <td>{{item.especialidad}}</td>
      <td>{{item.nivelEducativo}}</td>
      <td>{{item.barrio}}</td>
      <td>{{item.direccion}}</td>
      <td>{{item.telefono}}</td>
      <td>
          <tr>
              <td><i class="fa fa-edit" (click)="preUpdate(item)" data-toggle="modal" data-target="#exampleModal"></i></td>
              <td><i class="fa fa-trash" (click)="deleteInstitucion(item)"></i></td>
          </tr>
      </td>
    </tr>
  </tbody>
</table>
<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="instituciones.length" [(page)]="page" [pageSize]="pageSize">
  </ngb-pagination>

  <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
    <option [ngValue]="10">10</option>
    <option [ngValue]="50">50</option>
    <option [ngValue]="100">100</option>
  </select>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Instituciones</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="input-group input-group-sm mb-3 col-6">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm">Codigo Dane</span>
                </div>
                <input type="text" class="form-control" aria-label="Small"
                aria-describedby="inputGroup-sizing-sm" [(ngModel)]="institucion.codigoDane" [disabled]="true">
              </div>
              <div class="input-group input-group-sm mb-3 col-6">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm">Comuna</span>
                </div>
                <input type="text" class="form-control" aria-label="Small"
                aria-describedby="inputGroup-sizing-sm" [(ngModel)]="institucion.comuna" [disabled]="true">
              </div>
              <div class="input-group input-group-sm mb-3 col-6">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm">Nombre</span>
                </div>
                <input type="text" class="form-control" aria-label="Small"
                aria-describedby="inputGroup-sizing-sm" [(ngModel)]="institucion.nombre">
              </div>
              <div class="input-group input-group-sm mb-3 col-6">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm">Especialidad</span>
                </div>
                <input type="text" class="form-control" aria-label="Small"
                aria-describedby="inputGroup-sizing-sm" [(ngModel)]="institucion.especialidad">
              </div>
              <div class="input-group input-group-sm mb-3 col-6">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm">Nivel Educativo</span>
                </div>
                <input type="text" class="form-control" aria-label="Small"
                aria-describedby="inputGroup-sizing-sm" [(ngModel)]="institucion.nivelEducativo">
              </div>
              <div class="input-group input-group-sm mb-3 col-6">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm">Barrio</span>
                </div>
                <input type="text" class="form-control" aria-label="Small"
                aria-describedby="inputGroup-sizing-sm" [(ngModel)]="institucion.barrio">
              </div>
              <div class="input-group input-group-sm mb-3 col-6">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm">Direccion</span>
                </div>
                <input type="text" class="form-control" aria-label="Small"
                aria-describedby="inputGroup-sizing-sm" [(ngModel)]="institucion.direccion">
              </div>
              <div class="input-group input-group-sm mb-3 col-6">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm">Telefono</span>
                </div>
                <input type="text" class="form-control" aria-label="Small"
                aria-describedby="inputGroup-sizing-sm" [(ngModel)]="institucion.telefono">
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="updateInstitucion()" data-dismiss="modal">Guardar</button>
      </div>
    </div>
  </div>
</div>
