<menu></menu>
<div class="card" style="width: 18rem;display: block; margin: auto; margin-top: 50px">
  <div class="card-body">
    <h5 class="card-title">Ocupaciones</h5>
    <form>
          <div class="form-group">
              <label for="exampleFormControlFile1">CSV de Ocupaciones</label>
              <input type="file" class="form-control-file" id="fileOcupaciones" (change)="onFileSelect($event)" >
          </div>
      <button type="submit" class="btn btn-primary" (click)="uploadOcupacion()">Crear</button>
    </form>
  </div>
</div>

<br>
<br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Codigo SIOU</th>
      <th scope="col">Nombre</th>
    </tr>
  </thead>
  <tbody *ngFor="let item of ocupaciones">
    <tr>
      <th scope="row">{{item.ocupa_id}}</th>
      <td>{{item.ocupa_siou}}</td>
      <td>{{item.ocupa_nombre}}</td>
      <td>
          <tr>
              <td><i class="fa fa-edit" (click)="preUpdate(item)"></i></td>
              <td><i class="fa fa-trash" (click)="deleteOcupacion(item)"></i></td>
          </tr>
      </td>
    </tr>
  </tbody>
</table>