<menu></menu>
<div class="card" style="width: 18rem;display: block; margin: auto; margin-top: 50px">
  <div class="card-body">
    <h5 class="card-title">Egresados</h5>
    <form>
          <div class="form-group">
            <label for="exampleFormControlFile1">CSV de egresados</label>
            <input type="file" class="form-control-file" id="fileInstituciones" (change)="onFileSelect($event)" >
          </div>
      <button type="submit" class="btn btn-primary" (click)="uploadEgresados()">Crear</button>
    </form>
  </div>
</div>

<br>
<br>

<table class="table" id="tableEgresados">
  <thead>
    <tr>
      <th scope="col">Identificacion</th>
      <th scope="col">Tipo Identificacion</th>
      <th scope="col">Nombre</th>
      <th scope="col">Telefono</th>
      <th scope="col">Direccion</th>
      <th scope="col">Correo</th>
      <th scope="col">Año Egresado</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody *ngFor="let item of egresadossMap">
    <tr>
      <th scope="row">{{item.egreIdentificacion}}</th>
      <td>{{item.egreTipoIdentificacion}}</td>
      <td>{{item.egreNombre}}</td>
      <td>{{item.egreTel}}</td>
      <td>{{item.egreDicc}}</td>
      <td>{{item.egreCorreo}}</td>
      <td>{{item.egreAnoTermin}}</td>
      <td>
          <tr>
              <td><i class="fa fa-edit" (click)="preUpdate(item)" data-toggle="modal" data-target="#exampleModal"></i></td>
              <td><i class="fa fa-trash" (click)="deleteEgresado(item)"></i></td>
          </tr>
      </td>
    </tr>
  </tbody>
</table>
<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="egresados.length" [(page)]="page" [pageSize]="pageSize">
  </ngb-pagination>

  <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
    <option [ngValue]="10">10</option>
    <option [ngValue]="50">50</option>
    <option [ngValue]="100">100</option>
  </select>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Egresados</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="input-group input-group-sm mb-3 col-6">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Identificación</span>
              </div>
              <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="egresado.egreIdentificacion" [disabled]="true">
            </div>
            <div class="input-group input-group-sm mb-3 col-6">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Tipo Identificacion</span>
              </div>
              <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="egresado.egreTipoIdentificacion" [disabled]="true">
            </div>
            <div class="input-group input-group-sm mb-3 col-6">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Nombre</span>
              </div>
              <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="egresado.egreNombre">
            </div>
            <div class="input-group input-group-sm mb-3 col-6">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Telefono</span>
              </div>
              <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="egresado.egreTel">
            </div>
            <div class="input-group input-group-sm mb-3 col-6">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Direccion</span>
              </div>
              <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="egresado.egreDicc">
            </div>
            <div class="input-group input-group-sm mb-3 col-6">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Correo</span>
              </div>
              <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="egresado.egreCorreo">
            </div>
            <div class="input-group input-group-sm mb-3 col-6">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Año Egresado</span>
              </div>
              <select class="form-control" [(ngModel)]="egresado.egreAnoTermin">
                  <option *ngFor="let item of anosEgresados" (value)="item">{{item}}</option>
              </select>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="updateEgresado()" data-dismiss="modal">Guardar</button>
      </div>
    </div>
  </div>
</div>
