<menu></menu>
<div class="card" style="width: 18rem;display: block; margin: auto; margin-top: 50px">
	<div class="card-body">
		<h5 class="card-title">Barrio</h5>
		<form>
			<div class="form-group">
				<label for="exampleFormControlFile1">CSV de Barrios</label>
				<input type="file" class="form-control-file" id="fileBarrios" (change)="onFileSelect($event)">
			</div>
			<button type="submit" class="btn btn-primary" (click)="uploadBarrio()">Crear</button>
		</form>
	</div>
</div>

<br>
<br>

<table class="table">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Nombre</th>
		</tr>
	</thead>
	<tbody *ngFor="let item of barrios">
		<tr>
			<th scope="row">{{item.barId}}</th>
			<td>{{item.barNombre}}</td>
			<td>
				<tr>
					<td><i class="fa fa-edit" (click)="preUpdate(item)"></i></td>
					<td><i class="fa fa-trash" (click)="deleteBarrio(item)"></i></td>
				</tr>
			</td>
		</tr>
	</tbody>
</table>