<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/home">Proyecto CASD</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/instituciones">Instituciones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/barrio">Barrios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/ocupacion">Ocupaciones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/egresados">Egresados</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="logout()" routerLink="/home">Salir</a>
            </li>
        </ul>
    </div>
</nav>
